*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#landing{
    p{
        padding: 10px;
    }
    text-align: center ;
}

.link{
    text-decoration: none;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    padding: 2px;
    margin: 3px;   
}

.Profile{
    main{ 
        text-align: center;
        a{
            text-decoration: none;
            background-color: lightblue;
    color: black;
            border-radius: 10px;
            padding: 2px;
            margin: 5px;   
        }
    }
    h1{
        text-align: center;
        text-decoration: underline;
    }
}

#Courses h1{
    text-decoration: underline;
    padding: 15px;
}

#Courses button{
    border-radius: 10px;
    border: transparent;
    padding: 3px;
    background-color: lightblue;
    color: black;
    margin: 35px;
}

#Courses p{
    
    height: 25px;
    width: 100%;
    align-items: center;
}

.form-button{
    border-radius: 10px;
    border: transparent;
    padding: 3px;
    background-color: lightblue;
    color: black;
}